body {
  background-color: #333333;
  color: #ffffff;
  font-family: sans-serif;
  background-size: cover;
  padding: 20px;
  padding-top: 5px;
  font-size: 1.2rem;
}

a {
  color: #87ceeb;
  /* Sky Blue for links, to maintain visibility */
}

canvas {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  /* Adds some top/bottom margin and centers horizontally */
}
